.banner-contact {
  display: flex;
  justify-content: flex-end;
  padding: 70px 20px;
  background-image: url(../../../../assets/img/page_about/banner_contact/contact_bg.jpg);
  background-size: cover;
  background-position: center;

  .banner-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .banner-contact-content {
      display: flex;
      .banner-contact-content-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--white);

        i {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1022px) {
  .banner-contact {
    .banner-contact-container {
      flex-direction: column;
      .banner-contact-content {
        .banner-contact-content-text {
          margin-bottom: 30px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 808px) {
  .banner-contact {
    .banner-contact-container {
      flex-direction: column;
      .banner-contact-content {
        flex-direction: column;
        align-items: center;
        text-align: center;

        // .banner-contact-content-img {
        //   margin-bottom: 30px;
        // }
      }
    }
  }
}
