.service-team {
  @extend %space-base;
  background: mainColors("grey-300");
}

.service-team-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .service-team-content-title {
    width: 85%;
  }

  .service-team-content-text {
    p {
      line-height: 1.9;
    }
  }
}

.service-team-card-container {
  display: flex;

  .service-team-card {
    width: calc(100% / 3 - 40px);
    margin-right: 40px;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      cursor: pointer;

      .service-team-card-header {
        transform: scale(1.01);
      }

      .service-team-card-box {
        transform: translateY(-10px);

        .service-team-card-box-link {
          a {
            background: mainColors("black");
          }
        }
      }
    }

    .service-team-card-header {
      position: relative;
      width: 100%;
      height: 60%;
      border-radius: 5px;
      overflow: hidden;
      z-index: 10;
      transition: all 0.6s ease-in;

      img {
        width: 100%;
        height: auto;
      }
    }

    .service-team-card-box {
      position: relative;
      width: 80%;
      margin: -50px auto 0px auto;
      padding: 25px 30px 10px;
      text-align: center;
      border-radius: 5px;
      background: mainColors("white");
      box-shadow: 0 9px 24px 0 #f6f7f8;
      z-index: 20;
      transition: all 0.6s linear;

      span {
        font-size: 0.75rem;
        font-weight: 700;
        color: mainColors("cyan");
        line-height: 1.8;
      }

      h2 {
        line-height: 1.8;
      }

      p {
        margin-bottom: 20px;
        line-height: 1.2;
      }

      .service-team-card-box-link {
        margin-bottom: -35px;
        a {
          display: inline-block;
          width: 55px;
          height: 55px;
          line-height: 55px;
          background: mainColors("cyan");
          color: #fff;
          border-radius: 50%;
          font-size: 1.125rem;
          transition: all 0.6s ease-in;
        }
      }
    }
  }
}

@media (max-width: 917px) {
  .service-team-card-container {
    .service-team-card {
      .service-team-card-box {
        margin: -80px auto 0px auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .service-team-content {
    flex-direction: column;

    .service-team-content-title {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .service-team-card-container {
    flex-direction: column;

    .service-team-card {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }
}
