.contact-form {
  padding: 0px 20px 100px 20px;

  .contact-content {
    display: flex;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 9px 24px 0 rgba(26, 47, 106, 0.1);

    .contact-content-info {
      width: calc(45% - 40px);
      margin-right: 40px;

      h1 {
        line-height: 1.1;
        margin: 10px 0px 30px 0px;
      }

      ul {
        display: flex;
        margin-top: 30px;

        li {
          margin-right: 10px;

          &:last-child {
            margin-right: 0px;
          }

          &:hover {
            a {
              background: mainColors("black");
            }
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 8px;
            background: mainColors("cyan");
            transition: all 0.3s linear;

            i {
              font-size: 1.4rem;
              color: mainColors("white");
              transition: all 0.3s linear;
            }
          }
        }
      }
    }

    .contact-content-form {
      display: flex;
      flex-direction: column;
      width: 55%;

      .input-field {
        display: flex;

        input {
          width: 50%;
          height: 55px;
          margin-right: 20px;
          margin-bottom: 20px;
          padding: 20px;
          border: 1px solid #dce5e7;
          font-size: 14px;
          background: #fff;
          color: #888;
          border-radius: 5px;
          box-shadow: 0 9px 24px 0 rgba(26, 47, 106, 0.1);

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      textarea {
        padding: 20px;
        border: 1px solid #dce5e7;
        font-size: 14px;
        background: #fff;
        color: #888;
        border-radius: 5px;
        box-shadow: 0 9px 24px 0 rgba(26, 47, 106, 0.1);
      }

      .btn-black {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 910px) {
  .contact-form {
    .contact-content {
      flex-direction: column;

      .contact-content-info {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 50px;
      }

      .contact-content-form {
        width: 100%;

        .input-field {
          flex-direction: column;

          input {
            width: 100%;
            margin-right: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .contact-form {
    .contact-content {
      .contact-content-form {
        width: 100%;
      }
    }
  }
}
