header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: z-index("above");

  .header-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);

    .header-info-email {
      ul {
        display: flex;

        li {
          & + li {
            border-left: 1px solid rgba(255, 255, 255, 0.13);
            border-right: 1px solid rgba(255, 255, 255, 0.13);
          }

          i {
            margin-right: 10px;
            color: mainColors("cyan");
          }

          a {
            color: mainColors("white");
            font-weight: 700;
            font-size: 0.875rem;
            display: block;
            padding: 16px 20px;
          }
        }
      }
    }
    .header-info-social {
      ul {
        display: flex;
        border-left: 1px solid rgba(255, 255, 255, 0.13);

        li {
          a {
            color: mainColors("white");
            font-weight: 800;
            font-size: 0.875rem;
            display: block;
            padding: 16px 20px;
            transition: color 0.2s linear;

            &:hover {
              color: mainColors("cyan");
            }
          }
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    transition: all 0.2s linear;

    &.isActive {
      position: fixed;
      top: 0px;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      .header-logo {
        width: 150px;
        height: 48px;
        background-image: url(../../assets/img/header/logo-dark.png);
        background-size: cover;
      }

      .header-link {
        ul {
          li {
            a {
              color: #09162a;
              padding: 35px 0px;
              transition: color 0.2s linear;

              &:hover {
                color: mainColors("cyan");
              }
            }
          }
        }
      }

      .header-contact {
        color: #09162a;
      }
    }

    .header-logo {
      width: 200px;
      height: 65px;
      background-image: url(../../assets/img/header/logo-light.png);
      background-size: cover;
    }

    .header-link {
      flex: 1;
      margin: 0px 100px;

      ul {
        display: flex;

        li {
          position: relative;
          flex: 1;
          display: flex;
          text-align: center;

          &.header-item-sub-link {
            &:hover {
              ul {
                visibility: visible;
                opacity: 1;
              }
            }

            .header-sublink {
              position: absolute;
              top: calc(100% + 1px);
              left: 0px;
              display: flex;
              flex-direction: column;
              min-width: 270px;
              border-top: 3px solid mainColors("cyan");
              background: mainColors("white");
              box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
              visibility: hidden;
              opacity: 0;
              transition: all 0.3s linear;

              li {
                text-align: left;
                a {
                  padding: 15px 30px;
                  color: #242424;
                  font-size: 0.875rem;
                  font-weight: 700;
                  line-height: 1.5;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                  span {
                    display: block;
                    transition: all 0.3s linear;
                  }

                  &:hover {
                    background: mainColors("cyan");
                    color: white;

                    span {
                      transform: translateX(10px);
                    }
                  }
                }
              }
            }
          }

          a {
            display: block;
            width: 100%;
            padding: 50px 0px;
            font-weight: 800;
            font-size: 1rem;
            color: mainColors("white");
            transition: color 0.2s linear;

            &:hover {
              color: mainColors("cyan");
            }
          }

          &.isActive {
            a {
              color: mainColors("cyan");
            }
          }
        }
      }
    }

    .header-contact {
      display: flex;
      align-items: center;
      color: white;

      i {
        margin-right: 20px;
        font-size: 2.5rem;
        color: mainColors("cyan");
      }

      .header-contact-phone {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .header-info {
      display: none;
    }

    nav {
      padding-top: 20px;
      padding-bottom: 20px;

      &.isActive {
        .header-link {
          top: 89px;
          height: calc(100vh - 89px);

          ul {
            li {
              a {
                color: white;
                padding: 20px;
              }

              &.isActive {
                a {
                  color: mainColors("cyan");
                }
              }
            }
          }
        }

        .header-menu-mobile {
          div {
            background: black;
          }
        }
      }

      .header-menu-mobile {
        position: relative;
        height: 25px;
        width: 35px;

        &:hover {
          div {
            &:nth-child(2) {
              width: 80%;
            }

            &:nth-child(3) {
              width: 50%;
            }
          }
        }

        &.isActive {
          &:hover {
            div {
              &:nth-child(2) {
                width: 100%;
              }

              &:nth-child(3) {
                width: 100%;
              }
            }
          }
          div {
            &:nth-child(1) {
              transform: translateY(20px) rotate(45deg);
            }

            &:nth-child(2) {
              transform: translateY(-17px) rotate(-47deg);
            }

            &:nth-child(3) {
              display: none;
            }
          }
        }

        div {
          position: absolute;
          height: 4px;
          width: 100%;
          border-radius: 50px;
          background: white;
          transform-origin: right;
          transition: all 0.2s linear;

          &:nth-child(2) {
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
          }

          &:nth-child(3) {
            bottom: 0px;
            right: 0px;
          }
        }
      }

      .header-link {
        position: fixed;
        right: 0px;
        top: 106px;
        width: 30%;
        min-width: 300px;
        height: calc(100vh - 106px);
        margin: 0;
        background: #222;
        overflow-y: auto;
        transform: translateX(100%);

        &.isActive {
          transform: translateX(0%);
          transition: all 0.2s linear;
        }

        ul {
          flex-direction: column;

          li {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            border-bottom: 1px solid rgba(255, 255, 255, 0.13);

            &.header-item-sub-link {
              &::after {
                content: "";
                position: absolute;
                top: 31px;
                right: 20px;
                width: 13px;
                height: 3px;
                background: white;
                border-radius: 30px;
                transform: rotate(-45deg);
              }

              &::before {
                content: "";
                position: absolute;
                top: 24px;
                right: 20px;
                width: 13px;
                height: 3px;
                background: white;
                border-radius: 30px;
                transform: rotate(42deg);
              }

              &:hover {
                ul {
                  max-height: 700px;
                  visibility: visible;
                  opacity: 1;
                }
              }

              .header-sublink {
                position: relative;
                max-height: 0px;
                border-top: none;
                background: #222;

                li {
                  a {
                    padding: 15px 30px;
                    color: white;
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 1.5;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    span {
                      display: block;
                      transition: all 0.3s linear;
                    }

                    &:hover {
                      background: mainColors("cyan");
                      color: white;

                      span {
                        transform: translateX(10px);
                      }
                    }
                  }
                }
              }
            }

            a {
              padding: 20px;
            }
          }
        }
      }

      .header-contact {
        display: none;
      }
    }
  }
}
