header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  .header-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);

    .header-info-email {
      ul {
        display: flex;

        li {
          & + li {
            border-left: 1px solid rgba(255, 255, 255, 0.13);
            border-right: 1px solid rgba(255, 255, 255, 0.13);
          }

          i {
            margin-right: 10px;
            color: mainColors("cyan");
          }

          a {
            color: mainColors("white");
            font-weight: 700;
            font-size: 0.875rem;
            display: block;
            padding: 16px 20px;
          }
        }
      }
    }
    .header-info-social {
      ul {
        display: flex;
        border-left: 1px solid rgba(255, 255, 255, 0.13);

        li {
          a {
            color: mainColors("white");
            font-weight: 800;
            font-size: 0.875rem;
            display: block;
            padding: 16px 20px;
            transition: color 0.2s linear;

            &:hover {
              color: mainColors("cyan");
            }
          }
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    transition: all 0.2s linear;

    &.isActive {
      position: fixed;
      top: 0px;
      background: white;

      .header-logo {
        width: 150px;
        height: 48px;
        background-image: url(../../assets/img/header/logo-dark.png);
        background-size: cover;
      }

      .header-link {
        ul {
          li {
            a {
              color: #09162a;
              padding: 35px 0px;
              transition: color 0.2s linear;

              &:hover {
                color: mainColors("cyan");
              }
            }
          }
        }
      }

      .header-contact {
        color: #09162a;
      }
    }

    .header-logo {
      width: 200px;
      height: 65px;
      background-image: url(../../assets/img/header/logo-light.png);
      background-size: cover;
    }

    .header-link {
      flex: 1;
      margin: 0px 100px;

      ul {
        display: flex;

        li {
          flex: 1;
          display: flex;
          text-align: center;
          a {
            display: block;
            width: 100%;
            padding: 50px 0px;
            font-weight: 800;
            font-size: 1rem;
            color: mainColors("white");
            transition: color 0.2s linear;

            &:hover {
              color: mainColors("cyan");
            }
          }

          &.isActive {
            a {
              color: mainColors("cyan");
            }
          }
        }
      }
    }

    .header-contact {
      display: flex;
      align-items: center;
      color: white;

      i {
        margin-right: 20px;
        font-size: 2.5rem;
        color: mainColors("cyan");
      }

      .header-contact-phone {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .header-info {
      display: none;
    }

    nav {
      padding-top: 20px;
      padding-bottom: 20px;

      &.isActive {
        .header-link {
          top: 89px;
          height: calc(100vh - 89px);

          ul {
            li {
              a {
                color: white;
              }

              &.isActive {
                a {
                  color: mainColors("cyan");
                }
              }
            }
          }
        }

        .header-menu-mobile {
          div {
            background: black;
          }
        }
      }

      .header-menu-mobile {
        position: relative;
        height: 25px;
        width: 35px;

        &:hover {
          div {
            &:nth-child(2) {
              width: 80%;
            }

            &:nth-child(3) {
              width: 50%;
            }
          }
        }

        &.isActive {
          &:hover {
            div {
              &:nth-child(2) {
                width: 100%;
              }

              &:nth-child(3) {
                width: 100%;
              }
            }
          }
          div {
            &:nth-child(1) {
              transform: translateY(20px) rotate(45deg);
            }

            &:nth-child(2) {
              transform: translateY(-18px) rotate(-47deg);
            }

            &:nth-child(3) {
              display: none;
            }
          }
        }

        div {
          position: absolute;
          height: 4px;
          width: 100%;
          border-radius: 50px;
          background: white;
          transform-origin: right;
          transition: all 0.2s linear;

          &:nth-child(2) {
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
          }

          &:nth-child(3) {
            bottom: 0px;
            right: 0px;
          }
        }
      }

      .header-link {
        position: fixed;
        right: 0px;
        top: 106px;
        width: 30%;
        height: calc(100vh - 106px);
        margin: 0;
        background: black;
        transform: translateX(100%);

        &.isActive {
          transform: translateX(0%);
          transition: all 0.2s linear;
        }

        ul {
          flex-direction: column;
          height: 100%;

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.13);
            a {
              padding: 0px 0px;
            }
          }
        }
      }

      .header-contact {
        display: none;
      }
    }
  }
}
