footer {
  background: mainColors("grey-300");

  .footer-banner {
    padding: 50px 0px;
    background: mainColors("cyan");
    margin-bottom: 50px;

    .footer-banner-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: url(../../assets/img/footer/footer_lamp2.png);
        position: absolute;
        top: -37px;
        right: 252px;
      }

      .footer-banner-content-icon {
        display: flex;
        align-items: center;

        .footer-icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: mainColors("white");

          i {
            font-size: 2rem;
          }
        }

        h3 {
          font-size: 1.563rem;
          font-weight: 700;
          color: mainColors("white");
        }
      }

      button {
        width: auto;
        height: 60px;
        padding: 0px 30px;
        color: white;
        font-weight: 800;
        border: 2px solid white;
        border-radius: 5px;
        background: transparent;
        transition: all 0.2s linear;

        &:hover {
          color: mainColors("cyan");
          background: mainColors("white");
        }
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;

    .footer-abbreviation,
    .footer-information,
    .footer-lastest-news,
    .footer-newletter {
      width: calc(100% / 4 - 20px);
    }

    .footer-abbreviation {
      img {
        width: 65%;
        height: auto;
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: mainColors("grey-500");
        line-height: 1.5;
      }

      .footer-abbreviation-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        padding: 20px;
        border-radius: 8px;
        background: mainColors("white");

        .footer-abbreviation-phone {
          display: flex;
          flex-direction: column;

          span,
          strong {
            font-size: 1rem;
            font-weight: 700;
            color: mainColors("black");
            line-height: 1.5;
          }

          span,
          strong {
            font-weight: 900;
          }
        }

        .footer-abbreviation-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: mainColors("cyan");

          i {
            font-size: 1.5rem;
            color: mainColors("white");
            transform: rotate(-45deg);
          }
        }
      }
    }

    .footer-information {
      ul {
        li {
          margin-bottom: 20px;

          i {
            font-size: 0.813rem;
            color: mainColors("grey-500");
            margin-right: 10px;
            transition: all 0.2s linear;
          }

          a {
            font-size: 1rem;
            font-weight: 600;
            color: mainColors("black");
            transition: all 0.2s linear;
          }

          &:hover {
            i {
              color: mainColors("cyan");
            }

            a {
              color: mainColors("cyan");
            }
          }
        }
      }
    }

    .footer-title {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -21px;
        left: 0px;
        width: 30%;
        height: 2px;
        background: mainColors("cyan");
      }

      h2 {
        font-size: 1.125rem;
        font-weight: 800;
        color: mainColors("black");
        margin-bottom: 30px;
      }
    }
  }
}
