.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background-image: url(../../assets/img/hero_banner/n-slider-01.jpg);
  background-size: cover;
  background-position: center;

  .hero-banner-title {
    max-width: 50%;

    strong {
      color: mainColors("white");
    }

    h1 {
      line-height: 5rem;
    }
  }
}

@media (max-width: 1366px) {
  .hero-banner {
    min-height: 140vh;
  }
}

@media (max-width: 1180px) {
  .hero-banner {
    .hero-banner-title {
      max-width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .hero-banner {
    .hero-banner-title {
      max-width: 90%;
    }
  }
}

@media (max-width: 550px) {
  .hero-banner {
    .hero-banner-title {
      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
  }
}
