.service-company {
  background: white;
  padding: 100px 0px;
  margin: 0px 20px;
}

.service-company-title {
  margin-bottom: 50px;
  text-align: center;
}

.service-company-content {
  display: flex;

  .service-company-content-img {
    width: calc(50% - 20px);

    img {
      border-radius: 5px;
      width: 90%;
      height: auto;
    }
  }

  .service-company-content-container {
    flex: 1;

    h4 {
      margin-bottom: 30px;
      line-height: 1.8;
    }

    .service-company-card {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      img {
        width: 12%;
        height: auto;
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .service-company-content {
    flex-direction: column;

    .service-company-content-img {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      img {
        width: 70%;
      }
    }
  }
}
