.service {
  min-height: 45vh;
  background-image: url(../../assets/img/service_card/n-bg-02.png);
  background-size: cover;
  background-position: center;
  background-color: mainColors("cyan");
}

.service-card-container {
  display: flex;
  justify-content: space-around;
  margin: 0px 20px;
  counter-reset: myCards;

  .service-card {
    position: relative;
    max-width: calc(100% / 3 - 20px);
    margin-top: -120px;
    margin-right: 20px;
    padding: 40px;
    border-radius: 5px;
    background: mainColors("white");
    overflow: hidden;

    &::after {
      content: "0" counter(myCards);
      counter-increment: myCards;
      color: transparent;
      font-size: 5rem;
      line-height: 80px;
      position: absolute;
      font-weight: 900;
      top: 20px;
      right: 20px;
      -webkit-text-stroke: 1px #e3e4e9;
    }

    &:last-child {
      margin-right: 0px;
    }

    img {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.375rem;
      font-weight: 800;
      color: mainColors("black");
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: mainColors("grey-500");
    }

    a {
      position: absolute;
      right: -70px;
      bottom: -70px;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: black;

      i {
        font-size: 1.2rem;
        position: absolute;
        right: 92px;
        bottom: 91px;
        color: white;
      }
    }
  }
}

.service-comments {
  display: flex;
  padding-bottom: 50px;
  margin: 50px 20px 0px 20px;

  .service-comments-name {
    flex: 1;
    display: flex;
    padding: 20px 10px 20px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    i {
      margin-right: 20px;
      font-size: 3.125rem;
      color: mainColors("white");
    }

    .service-comments-name-wrapper {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 20px;
        font-size: 1.3rem;
        font-weight: 500;
        color: mainColors("white");
      }
    }

    cite {
      position: relative;
      padding-left: 50px;
      font-size: 1rem;
      font-weight: 400;
      color: mainColors("white");

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 40px;
        height: 1px;
        background: white;
      }
    }
  }

  .service-comments-description {
    flex: 1;
    padding: 20px 0px 20px 30px;

    h3 {
      font-size: 1rem;
      font-weight: 400;
      color: mainColors("white");
    }
  }
}

@media (max-width: 768px) {
  .service-card-container {
    flex-direction: column;

    .service-card {
      max-width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-top: 0px;

      &:first-child {
        margin-top: -80px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
@media (max-width: 610px) {
  .service-comments {
    flex-direction: column;

    .service-comments-name {
      border: none;
      padding: 20px 0px 20px 0px;
    }
  }
}
